@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', monospace;
    background-color: #E6D7CF;
}

.demoWrapper{
    width: 50vw;
    height: 50vh;
    padding: 10vw;
    display: flex;
    align-items: center;
    margin: auto;
    /* border: solid 2px #d2c3bc;
    border-radius: 40px; */
    box-sizing: border-box;
}