@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', monospace;
    background-color: #E6D7CF;
    cursor: none;
}

.demoWrapper{
    width: max(50vw, 800px);
    height: 50vh;
    padding: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10vh;
    border: solid 2px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .demoWrapper{
        border: none;
    }
  }