@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', monospace;
    background-color: #E6D7CF;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    background-color: #E6D7CF;
    width: 100%;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.nav__title {
    text-align: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.nav__filters{
    padding: 4px 16px;
}
nav h1 {
    font-size: 1em;
}
.wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.demo{
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.demo__window {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.demo__desc h3{
    font-weight: 400 !important;
    letter-spacing: 0.02em;
}
.demo__window:hover{
    background-color: rgba(0, 0, 0, 0.08);
    cursor: grab;
}


@media screen and (max-width: 800px) {
    .demoWrapper{
        border: none;
    }
  }